// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#boats_table th, td {
	padding-right: 10px;
	margin-left: 10px;
	column-width: 500px;
	padding-bottom: 30px;
	padding-left: 10px;
	border-right: 1px solid blue;
}

#boats_table tr > th {
	text-align: center;
	
}

#boats_form {
}

.field {
}

.field_label {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.field_text {
	width: 150px;
	float: left;
}
